.test-wrapper {
  width: 100%;
  margin: auto;
}
.VC-wrapper {
  background-color: #eee;
  border-radius: 1rem;
  margin: auto;
  width: 100%;
  max-width: 450px;
}
.VC-panel {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.VC-results-panel {
  display: none;
  text-align: center;
}
.VC-question-panel {
  text-align: center;
}
.VC-question-number {
  text-align: center;
  font-size: 1.5em;
}
.VC-question-body {
  text-align: left;
}
.VC-question-options {
  text-align: left;
}
.VC-alert {
  display: none;
  font-size: 0.75rem;
  margin-top: 5px;
  text-transform: uppercase;
}
.VC-results-interviews {
  font-size: 1.5rem;
}
.VC-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.VC-button:hover,
.VC-button:focus,
button:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.VC-button.VC-button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.VC-button.VC-button-primary:hover,
.VC-button.VC-button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
input {
  margin-right: 1rem;
}
